// ng-select {
//     width: 100%;
//     margin-bottom: 10px;
//   }
  
//   button {
//     padding: 10px;
//     background-color: #007bff;
//     color: white;
//     border: none;
//     cursor: pointer;
//   }
  
//   button:hover {
//     background-color: #0056b3;
//   }
.weather-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
.weather-card[data-today="true"] {
    background-color: #367bb8;
    border: 2px solid #00bcd4;
    font-weight: bold;
}