<div *ngIf="isLoading; else content" class="d-flex justify-content-center align-items-center vh-100">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
    <p>Fetching localization...</p>
  </div>
</div>

<ng-template #content>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-auto">
        <button class="btn btn-primary opt-btns" (click)="openCoordinateModal()">{{ 'enter_coordinates' | translate }}</button>
      </div>

      <div class="col-auto">
        <button class="btn btn-primary opt-btns" (click)="openMapModal()">{{ 'set_place_on_map' | translate }}</button>
      </div>

      <div class="col-auto">
        <button class="btn btn-primary opt-btns" (click)="openPlaceSearchModal()">{{ 'search_for_place' | translate }}</button>
      </div>

      <div class="col text-end">
        <button class="btn btn-primary opt-btns" (click)="changeTheme()">{{ 'toggle_theme' | translate }}</button>
      </div>
    </div>

      <div class="radio-input language-group">
        <label>
          <input
            type="radio"
            name="language"
            id="langEn"
            (change)="toggleLanguage()"
            [checked]="language === 'en'"
          />
          <span>EN</span>
        </label>
        <label>
          <input
            type="radio"
            name="language"
            id="langPl"
            (change)="toggleLanguage()"
            [checked]="language === 'pl'"
          />
          <span>PL</span>
        </label>
        <span class="selection"></span>
      </div>
  </div>

  <div>
    <div class="container text-center">
      <div class="col-12">
        <div class="weather-card p-3" [attr.data-today]="'true'">
          <h3 id="current-location"><i class="fa-solid fa-location-arrow"></i> {{ city }}</h3>
          <h1 id="current-temperature">{{ weatherData?.currentTemperature }}°C</h1>
          <p>{{ 'from' | translate }} {{ formattedDetails[0].details.minTemperature }}°C {{ 'to' | translate }} {{ formattedDetails[0].details.maxTemperature }}°C</p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="placeSearchModal" tabindex="-1" aria-labelledby="placeSearchModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="placeSearchModalLabel">{{ 'search_for_place_modal_title' | translate }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="placeInput"
              placeholder="Start typing"
              (input)="onSearch($event)"
            >
            <ul *ngIf="suggestions.length > 0">
              <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
                {{ suggestion.display_name }}
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'cancel' | translate }}</button>
          <button type="button" class="btn btn-primary" (click)="confirmCoords('placeSearchModal')">{{ 'confirm' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mapModalLabel">{{ 'enter_coordinates_modal_title' | translate }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="map-container">
            <app-map></app-map>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'cancel' | translate }}</button>
          <button type="button" class="btn btn-primary" (click)="confirmCoords('mapModal')">{{ 'confirm' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="coordinateModal" tabindex="-1" aria-labelledby="coordinateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="coordinateModalLabel">{{ 'enter_coordinates_modal_title' | translate }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="latitudeInput" class="form-label">{{ 'latitude' | translate }}</label>
            <input
              type="number"
              class="form-control"
              id="latitudeInput"
              placeholder="Enter latitude"
              [(ngModel)]="latitude"
              (input)="validateCoordinates()"
            />
          </div>
          <div class="mb-3">
            <label for="longitudeInput" class="form-label">{{ 'longitude' | translate }}</label>
            <input
              type="number"
              class="form-control"
              id="longitudeInput"
              placeholder="Enter longitude"
              [(ngModel)]="longitude"
              (input)="validateCoordinates()"
            />
          </div>

          <div *ngIf="!areCoordinatesValid" class="text-danger">
            {{ errorMessage }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'cancel' | translate }}</button>
          <button type="button" class="btn btn-primary" (click)="confirmCoords('coordinateModal')">{{ 'confirm' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="formattedDetails.length > 0" class="container text-center forecast">

    <div class="header row">
      <div class="col d-flex align-items-center">
        <i class="fa-solid fa-calendar-days" id="calendar-icon"></i>
        <span class="ms-2">{{ 'weather_forecast' | translate }}</span>
      </div>
    </div>

    <div class="table-responsive weather-card">
      <table class="table weather-table" data-bs-theme="light">
        <thead>
        <tr>
          <th scope="col">
            <span class="weather-headers">{{ 'date' | translate }}</span>
          </th>
          <th scope="col">
            <span class="weather-headers">{{ 'conditions' | translate }}</span>
          </th>
          <th scope="col">
            <span class="weather-headers">{{ 'min_temperature' | translate }}</span>
          </th>
          <th scope="col">
            <span class="weather-headers">{{ 'max_temperature' | translate }}</span>
          </th>
          <th scope="col">
            <span class="weather-headers">{{ 'generated_energy' | translate }}</span>
          </th>
        </tr>
        </thead>

        <tbody *ngFor="let item of formattedDetails; let i = index">
        <tr class="weather-row">
          <th scope="row">
            <span class="weather-item">{{ (i === 0 ? 'today' : item.day) | translate }} <br /> {{ item.date }}</span>
          </th>
          <td>
            <span class="weather-item"><i [ngClass]="mapWeatherIcon(item.details.weatherCode)"></i></span>
          </td>
          <td>
            <span class="weather-item">{{ item.details.minTemperature }}°C</span>
          </td>
          <td>
            <span class="weather-item">{{ item.details.maxTemperature }}°C</span>
          </td>
          <td>
            <span class="weather-item">{{ item.details.generatedEnergy }} kWh</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container text-center week-summary" *ngIf="weekSummary">
    <div class="row week-summary-header d-flex align-items-center justify-content-center">
      <h4>{{ 'week_summary' | translate }}</h4>
    </div>

    <div class="row week-summary-card d-flex align-items-center justify-content-center">
      <div class="col-3">
        {{ 'average_pressure' | translate }}
      </div>
      <div class="col-3">
        {{ weekSummary.averagePressure }} hPa
      </div>
    </div>

    <div class="row week-summary-card d-flex align-items-center justify-content-center">
      <div class="col-3">
        {{ 'average_sunshine_duration' | translate }}
      </div>
      <div class="col-3">
        {{ weekSummary.averageSunshineDuration }}h
      </div>
    </div>

    <div class="row week-summary-card d-flex align-items-center justify-content-center">
      <div class="col-3">
        {{ 'highest_temperature' | translate }}
      </div>
      <div class="col-3">
        {{ weekSummary.highestTemperature }}°C
      </div>
    </div>

    <div class="row week-summary-card d-flex align-items-center justify-content-center">
      <div class="col-3">
        {{ 'lowest_temperature' | translate }}
      </div>
      <div class="col-3">
        {{ weekSummary.lowestTemperature }}°C
      </div>
    </div>

    <div class="row week-summary-card d-flex align-items-center justify-content-center">
      <div class="col-6">
        {{ weekSummary.isWeekRainy ? ('rainy_week' | translate) : ('not_rainy_week' | translate) }}
      </div>
    </div>

  </div>


</ng-template>
