<div *ngIf="isLoading; else content" class="d-flex justify-content-center align-items-center vh-100">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
    <p>Fetching localization...</p>
  </div>
</div>

<ng-template #content>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-auto">
        <button class="btn btn-primary opt-btns" (click)="openCoordinateModal()">Enter coordinates</button>
      </div>

      <div class="col-auto">
        <button class="btn btn-primary opt-btns" (click)="openMapModal()">Set place on map</button>
      </div>

      <div class="col-auto">
        <button class="btn btn-primary opt-btns" (click)="openPlaceSearchModal()">Search for place</button>
      </div>

      <div class="col text-end">
        <button class="btn btn-primary opt-btns" (click)="changeTheme()">Change theme</button>
      </div>
    </div>
  </div>

  <!--<div class="container text-center">-->
  <!--  <div class="options row justify-content-center">-->
  <!--    <div class="col-2">-->
  <!--      <button class="btn btn-primary opt-btns" (click)="openCoordinateModal()">Enter coordinates</button>-->
  <!--    </div>-->

  <!--    <div class="col-2">-->
  <!--      <button class="btn btn-primary opt-btns" (click)="openMapModal()">Set place on map</button>-->
  <!--    </div>-->

  <!--    <div class="col-2">-->
  <!--      <button class="btn btn-primary opt-btns" (click)="openPlaceSearchModal()">Search for place</button>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--  <div class="col-2 ml-auto">-->
  <!--    <button class="btn btn-primary opt-btns" (click)="changeTheme()">Toggle theme</button>-->
  <!--  </div>-->

  <!--</div>-->

  <div>
    <div class="container text-center">
      <div class="col-12">
        <div class="weather-card p-3" [attr.data-today]="'true'">
          <h3 id="current-location"><i class="fa-solid fa-location-arrow"></i> {{ city }}</h3>
          <h1 id="current-temperature">{{ weatherData?.currentTemperature }}°C</h1>
          <p>From {{ formattedDetails[0].details.minTemperature }}°C to {{ formattedDetails[0].details.maxTemperature }}°C</p>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="placeSearchModal" tabindex="-1" aria-labelledby="placeSearchModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="placeSearchModalLabel">Search for place</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <!--          <label for="longitudeInput" class="form-label">Longitude</label>-->
            <input
              type="text"
              class="form-control"
              id="placeInput"
              placeholder="Start typing"
              (input)="onSearch($event)"
            >
            <ul *ngIf="suggestions.length > 0">
              <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
                {{ suggestion.display_name }}
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="confirmCoords('placeSearchModal')">Confirm</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mapModalLabel">Enter coordinates</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="map-container">
            <app-map></app-map>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="confirmCoords('mapModal')">Confirm</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="coordinateModal" tabindex="-1" aria-labelledby="coordinateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="coordinateModalLabel">Enter coordinates</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="latitudeInput" class="form-label">Latitude</label>
            <input
              type="number"
              class="form-control"
              id="latitudeInput"
              placeholder="Enter latitude"
              [(ngModel)]="latitude"
              (input)="validateCoordinates()"
            />
          </div>
          <div class="mb-3">
            <label for="longitudeInput" class="form-label">Longitude</label>
            <input
              type="number"
              class="form-control"
              id="longitudeInput"
              placeholder="Enter longitude"
              [(ngModel)]="longitude"
              (input)="validateCoordinates()"
            />
          </div>

          <div *ngIf="!areCoordinatesValid" class="text-danger">
            {{ errorMessage }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="confirmCoords('coordinateModal')">Confirm</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="formattedDetails.length > 0" class="container text-center forecast">

    <div class="header row">
      <div class="col d-flex align-items-center">
        <i class="fa-solid fa-calendar-days" id="calendar-icon"></i>
        <span class="ms-2">Weather Forecast (7 days)</span>
      </div>
    </div>

    <div class="weather-headers row">
      <div class="col-2 d-flex align-items-center justify-content-center">Date</div>
      <div class="col-1 d-flex align-items-center justify-content-center">Conditions</div>
      <div class="col-3 d-flex align-items-center justify-content-center">Maximum temperature</div>
      <div class="col-3 d-flex align-items-center justify-content-center">Minimum temperature</div>
      <div class="col-3 d-flex align-items-center justify-content-center">Estimated generated energy</div>

    </div>
    <div *ngFor="let item of formattedDetails; let i = index" class="weather-card row">

      <div class="col-2 d-flex align-items-center justify-content-center">
        <strong>{{ i === 0 ? 'Today' : item.day }} <br /> {{ item.date }}</strong>
      </div>

      <div class="weather-icon col-1 d-flex align-items-center justify-content-center">
        <i [ngClass]="mapWeatherIcon(item.details.weatherCode)"></i>
      </div>

      <div class="weather-info col-3 d-flex align-items-center justify-content-center">
        {{ item.details.minTemperature }}°C
      </div>

      <div class="weather-info col-3 d-flex align-items-center justify-content-center">
        {{ item.details.maxTemperature }}°C
      </div>

      <div class="weather-info col-3 d-flex align-items-center justify-content-center">
        {{ item.details.generatedEnergy }} kWh
      </div>

    </div>
  </div>

  <div class="container text-center week-summary" *ngIf="weekSummary">
    <div class="row week-summary-header d-flex align-items-center justify-content-center">
      <h4>Week summary</h4>
    </div>

    <div class="row week-summary-card d-flex align-items-center justify-content-center">
      <div class="col-3">
        Average Pressure
      </div>
      <div class="col-3">
        {{ weekSummary.averagePressure }} hPa
      </div>
    </div>

    <div class="row week-summary-card d-flex align-items-center justify-content-center">
      <div class="col-3">
        Average Sunshine Duration
      </div>
      <div class="col-3">
        {{ weekSummary.averageSunshineDuration }}h
      </div>
    </div>

    <div class="row week-summary-card d-flex align-items-center justify-content-center">
      <div class="col-3">
        Highest Temperature
      </div>
      <div class="col-3">
        {{ weekSummary.highestTemperature }}°C
      </div>
    </div>

    <div class="row week-summary-card d-flex align-items-center justify-content-center">
      <div class="col-3">
        Lowest Temperature
      </div>
      <div class="col-3">
        {{ weekSummary.lowestTemperature }}°C
      </div>
    </div>

    <div class="row week-summary-card d-flex align-items-center justify-content-center">
      <div class="col-6">
        {{ weekSummary.isWeekRainy ? 'Week is rainy' : 'Week is not rainy' }}
      </div>
    </div>
  </div>
</ng-template>
