:root {
  --bg-color: #ffffff;
  --border-color: #faf8f8;
  --text-color: #090909;
  --btn-bg-color: #e8e8e8;
  --btn-border-color: #e8e8e8;
  --btn-color: #090909;
  --btn-shadow-light: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  --btn-shadow-active-light: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.dark-mode {
  --bg-color: #121212;
  --border-color: #333;
  --text-color: #f5f5f5;
  --btn-bg-color: #333;
  --btn-border-color: #444;
  --btn-color: #f5f5f5;
  --btn-shadow-light: 6px 6px 12px #222, -6px -6px 12px #444;
  --btn-shadow-active-light: inset 4px 4px 12px #222, inset -4px -4px 12px #444;
}

:host {
  --bs-table-bg: var(--bg-color)
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.forecast {
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

.weather-card, .week-summary-card {
    padding: 10px;
    border-radius: 5px;
    border-bottom: 1px solid var(--border-color);
  }

.weather-card[data-today="true"] {
  font-weight: bold;
}

.weather-headers {
  font-weight: bold;
  color: var(--text-color);
}

.weather-row {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-color);
}

.weather-item {
  padding: 8px;
  text-align: center;
  color: var(--text-color);
  i {
    font-size: 1.5em;
    color: var(--text-color);
  }
}

.map-container{
  border: 1px solid black;
}

.weather-headers, .header, .week-summary-header {
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

.opt-btns {
  color: var(--btn-color);
  padding: 0.7em 1.7em;
  border-radius: 0.5em;
  background: var(--btn-bg-color);
  cursor: pointer;
  border: 1px solid var(--btn-border-color);
  transition: all 0.3s;
  box-shadow: var(--btn-shadow-light);
}

.opt-btns:active {
  color: #666;
  box-shadow: var(--btn-shadow-active-light);
}

.week-summary {
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

#calendar-icon {
  vertical-align: middle;
}

.modal-body, .modal-footer, .modal-header {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.radio-input {
  --container_width: 200px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: var(--btn-bg-color);
  color: var(--btn-color);
  width: var(--container_width);
  overflow: hidden;
  border: 1px solid var(--btn-border-color);
  box-shadow: var(--btn-shadow-light);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

  input {
    display: none;
  }

  label {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 14px;
    color: var(--text-color);
    transition: color 0.3s;

    &:hover {
      color: var(--btn-color);
    }
  }

  .selection {
    display: none;
    position: absolute;
    height: 100%;
    width: calc(var(--container_width) / 2);
    z-index: 0;
    left: 0;
    top: 0;
    background-color: rgb(11, 117, 223);
    transition: transform 0.15s ease, background-color 0.3s;
  }

  label:has(input:checked) {
    color: var(--btn-color);
  }

  label:has(input:checked) ~ .selection {
    display: inline-block;
  }

  label:nth-child(1):has(input:checked) ~ .selection {
    transform: translateX(0);
  }

  label:nth-child(2):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) / 2));
  }
}

